@import 'src/styles/variables.scss';

.icon {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  background: $green1;
}

.logo {
  display: inline-block;
  margin-bottom: 20px;
}
