@import '/src/styles/variables.scss';

.signUpViaEmailButton {
  border-radius: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 24px;
  font-weight: $fontWeightSemibold;
  font-size: $fontSizeTitle7;
  height: 44px;
}
