@import '/src/styles/variables.scss';

.hero_background {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(21, 1fr);

  @media (max-width: 768px) {
    grid-template-columns: repeat(11, 1fr);
  }

  &::before {
    content: '';
    position: absolute;
    top: -800px;
    z-index: 5;
    left: 0;
    width: 100%;
    height: 200%;
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 0%,
      $colorBgHeroGradient 50%
    );
  }

  div {
    width: 96px;
    height: 96px;
    border-top: 1px solid $colorBorder;
    border-right: 1px solid $colorBorder;
    background: rgba(34, 34, 34, 0.2);
  }

  .flicker {
    animation: flicker 3s infinite;
  }
}

@keyframes flicker {
  0%,
  100% {
    background: $colorFillSecondary;
  }
  50% {
    background: $colorBgContainer;
  }
}
