@import '/src/styles/variables.scss';

.bookings {
  margin-bottom: 40px;
}

.upcoming {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.card_wrapper {
  background-color: $colorBgContainer !important;
}

.main_tab_wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 560px) {
    flex-direction: column-reverse;
  }
}

.main_tab {
  margin-bottom: 16px;
}

.add_session_button {
  font-size: $fontSizeTitle8;
  height: 36px;

  @media (max-width: 560px) {
    margin-bottom: 16px;
  }

  & > span:first-of-type {
    display: flex;
    align-items: center;
  }
}
