@import '/src/styles/variables.scss';

.banner {
  margin-top: 40px;
  background-image: url('public/img/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
