@import '/src/styles/variables.scss';

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 64px;

  @media (max-width: 768px) {
    align-items: flex-start;
  }
}

.title {
  letter-spacing: -0.7;
  text-align: center;
}

.callapse {
  display: flex;
  justify-content: space-between;
}

.panel {
  font-weight: $fontWeightBold;
}

.collapseItem {
  ul {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.answer {
  font-weight: $fontWeightRegular;
}

.got_question_container {
  background-color: $colorBgLayout;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  padding-top: 32px;
  padding-bottom: 40px;
  margin-top: 64px;
}

.avatar_wrapper {
  margin-bottom: 32px;

  img {
    border-radius: 50%;
    border: 1px solid $colorPrimary;
    object-fit: cover;
    object-position: top;
  }

  & img:first-child {
    position: relative;
    left: 20px;
    width: 52px;
    height: 52px;
  }
  & img:nth-child(2) {
    position: relative;
    z-index: 1;
    width: 60px;
    height: 60px;
  }
  & img:nth-child(3) {
    position: relative;
    right: 20px;
    width: 52px;
    height: 52px;
  }
}
