@import '/src/styles/variables.scss';

.card {
  height: 100%;
  position: relative;

  cursor: pointer;
}

.university_image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.description_wrapper {
  padding: 16px;
}

.like_button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding: 6px;
  background-color: $red1;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;

  // background-color: red;

  z-index: 10;
}

.majors {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 8px;
}

.majorFlex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.major {
  color: $colorText;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding: 0 8px;

  border-radius: 6px;
  border: 1px solid $colorBorder;
  background: $colorFillQuaternary;
}

.skeleton {
  width: 100% !important;
  height: 180px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
}
