@import '/src/styles/variables.scss';

.container {
  display: flex;
  gap: 24px;
  padding-top: 40px;
  padding-bottom: 40px;

  & > div {
    flex: 1;
    background-color: $colorBgContainer;
    padding: 24px;
    border-radius: 16px;
    min-width: calc(50% - 12px);
  }
}

.profile_check_list {
  list-style: none;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
}
