@import 'src/styles/variables.scss';

.university {
  width: 100%;
  padding: 40px 40px 40px 0;

  @media (max-width: 1024px) {
    padding: 40px;
  }

  @media (max-width: 560px) {
    padding: 0px;
    padding-top: 40px;
  }
}

.card_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 16px;

  list-style: none;

  margin-top: 20px;
}

.search {
  display: flex;
  gap: 20px;
}

.switch {
  width: 100%;
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}

.switchInside {
  display: flex;
  gap: 6px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 35px;
  font-size: 14px;
  color: $colorText;
  list-style: decimal;
}

.aiSearchSummary {
  letter-spacing: 0.8px;
  font-style: italic;
}

.aiFlex {
  display: flex;
  gap: 10px;
  color: #decaf7;

  margin-left: -6px;
}

.aiSummary {
  // border: 1px solid #2b025c !important;

  /* From https://css.glass */
  background: rgba(255, 80, 236, 0.51);
  border-radius: 16px;
  box-shadow: 10px 20px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  // border: 1px solid rgba(255, 80, 236, 0.51) !important;
}

.newAiSearch {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
