.event_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 32px;
  justify-items: center;
  margin-bottom: 64px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
  }

  @media (max-width: 560px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
  }
}

.name_button_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.event_image_wrapper {
  // width: 405px;
  height: 240px;
  overflow: hidden;
  border-radius: 16px;
  object-fit: cover;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card {
  cursor: pointer;
  width: 100%;

  img {
    border-radius: 16px;
    transition: all 0.2s ease-in;
    object-fit: cover;
  }

  &:hover img {
    transform: scale(1.1);
    filter: brightness(1.05);
  }
}

.see_all_button {
  display: flex;
  gap: 8px;
  align-items: center;
}
