@import 'src/styles/variables.scss';

.mentors {
  // max-width: 1350px;
  margin: 40px auto;
}

.top {
  display: flex;
  justify-content: space-around;
}

.filter {
  padding: 12px;
  background-color: $colorBgContainer;
  height: 48px;
  border-radius: 12px;
  border: 1px solid $colorBorder;
  cursor: pointer;
}

.level {
  display: flex;
  justify-content: end;
  margin-top: 16px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  margin-bottom: 16px;
  margin-top: 24px;
}
