@import '/src/styles/variables.scss';

.avatar {
  background: $colorPrimary;
  padding: 8px;
  width: 42px;
  height: 42px;
  border: 1px solid $colorBorder;
}

.avatar_wrapper {
  display: flex;
  gap: 4px;
  font-size: 14px;
  cursor: pointer;
  width: 42px;
  height: 42px;

  img {
    object-fit: cover;
    width: 100%;
    border: 1px solid $colorBorder;
    border-radius: 50%;
    width: 42px;
    height: 42px;
  }
}

.logout_button {
  color: $colorTextLight !important;
  padding-left: 13px;
  padding-right: 13px;
}

.logout_icon {
  path {
    stroke: $colorTextLight;
  }
}
