@import 'src/styles/variables.scss';

.titles {
  display: flex;
  gap: 10px;
}

.title {
  width: calc((100% - 10px) / 2);

  padding: 10px 0;
  background-color: $colorBgContainer;
  color: $colorText !important;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 500;
  border: 1px solid $colorBorder;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.active {
  background-color: $colorPrimary;

  width: calc((100% - 10px) / 2);

  padding: 10px 0;
  color: $white !important;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 500;
  color: #000000;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.package {
  display: flex;
  gap: 10px;

  @media (max-width: 560px) {
    flex-direction: column;
  }
}

.packCard {
  width: calc((100% - 10px) / 2);
  margin-top: 16px;
  padding: 24px;
  border: 2px solid $colorTextTertiary;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 560px) {
    width: 100%;
  }
}
