@import '/src/styles/variables.scss';

.errorContainer {
  text-align: center;
  padding: 2rem;
  background: $colorBgContainer;
  color: $colorText;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: $fontSizeTitle1;
  text-align: center;
}

.description {
  font-size: $fontSizeTitle4;
  max-width: 1000px;
}

.errorMessage {
  color: red;
  white-space: pre-wrap;
  word-break: break-word;
  margin: 1rem 0;
}

.retryButton:hover {
  background-color: #0056b3;
}
