@import 'src/styles/variables.scss';

.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.cards_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 4fr));
  gap: 20px;
  margin-bottom: 16px;
}

.card {
  box-sizing: border-box;
  background: $colorBgContainer;
  border-radius: 16px;
  cursor: pointer;
  overflow: hidden;

  img {
    border-radius: 16px;
    width: 100%;
    height: 180px;
    object-fit: cover;
    filter: brightness(0.9);
    transition: all 0.2s ease-in;
  }

  &:hover {
    img {
      filter: brightness(1);
      transform: scale(1.05);
    }
  }
}

.card_description {
  padding: 16px;

  .event_name {
    // width: calc(100%);
    // overflow: hidden;
    // display: inline-block !important;
    // text-overflow: ellipsis;
    // white-space: nowrap;
  }
}
