@import '/src/styles/variables.scss';

.container {
}

.cards_wrapper {
  background: $colorBgContainer;
  padding: 24px;
  margin-bottom: 40px;
  border-radius: 24px;
}

.card_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 16px;

  list-style: none;
}
