@import '/src/styles/variables.scss';

.card {
  width: 100%;
}

.stats_ul {
  display: flex;
  flex-direction: column;
  gap: 24px;

  li {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.icon_wrapper {
  background: $orange1;
  padding: 12px;
  border-radius: 16px;
}

.num_wrapper {
  display: flex;
  flex-direction: column;
}
